<section class="sectionGeneral">
    <section class="sectionForm">
        <h2>search</h2>
        <section class="sectionImagen">
            <img src="">
        </section>
        <form class="example-form sectionMat">
            <mat-form-field class="example-full-width">
            <span matPrefix> </span>
            <input type="tel" matInput placeholder="Search" name= "search">
            <button matSuffix mat-button><mat-icon >search</mat-icon></button>
            </mat-form-field>
        </form>    
    </section>    
</section>
